.container-create{
    background-color: var(--rojo);
    height: 30rem;
    margin-top:13rem;
}
.title_new{
    color: var(--claro);
    font-family: "barlow";
    text-align: center;
}

.title_recipe{
    color: var(--claro);
    font-family: "caladea";
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.input_recipe{
    border: none;
    border-radius: 1rem;
    margin-left: 7rem;
    padding: 0.5rem;
    width: 40rem;
}

.ingredients{
    color: var(--claro);
    font-family: "caladea";
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.input_ingredients{
    border: none;
    border-radius: 1rem;
    margin-left: 3rem;
    padding: 0.5rem;
    width: 40rem;
}

.description{
    color: var(--claro);
    font-family: "caladea";
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.input_description{
    border: none;
    border-radius: 1rem;
    margin-left: 3rem;
    padding: 0.5rem;
    width: 40rem;
}

.input_submit{
    border: none;
    font-family: "barlow";
    font-size: 1.6rem;
    padding: 0.5rem;
    color: var(--rojo);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-left: 35rem;
}

