.fila_eliminar {
    background-color: var(--verde);
}

.img_eliminar{
    width: 50%;
    border-radius: 3rem;
    box-shadow: 0 0 10px 5px rgba(75, 76, 76, 0.5);
    margin-left: 8rem;
}

.titulo_eliminar{
    font-family: "barlow";
    color: var(--claro);
    font-size: 2rem;
    margin-left: 1rem;
}

.form_control_eliminar{
    font-family: "caladea";
    margin-left: 1rem;
    border: none;
    outline: none;
    border-radius: 1rem;
}

.btn_eliminar {
    background-color: var(--rojo);
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 5rem;
    margin-left: -38rem;
    color: var(--claro);
    width: 8rem;
}

.btn_eliminar:hover{
    background: var(--rojo);
    box-shadow: 0 0 10px var(--rojo), 0 0 10px var(--rojo), 0 0 10px var(--rojo);
    transition: 0.2s;
}