.header {
    background-color: var(--verde);
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .inicio {
        font-size: 1.6rem;
        padding: 1rem;
        margin-left: 55rem;
        text-decoration: none;
        color: var(--claro);
    }

    .inicio:hover {
        color: var(--rojo);
        transition: 0.5s;
    }

    .sobre {
        font-size: 1.6rem;
        padding: 1rem;
        text-decoration: none;
        color: var(--claro);
    }

    .sobre:hover {
        color: var(--rojo);
        transition: 0.5s;
    }

    .iniciar {
        position: relative;
        display: inline-block;
        padding: 1rem;
        padding-top: 1.4rem;
        margin-left: 25rem;
        color: var(--claro);
        font-size: 1.8rem;
        text-decoration: none;
        transition: 0.2s;
        border-radius: 1rem;
    }

    .iniciar:hover {
        background: var(--rojo);
        box-shadow: 0 0 10px var(--rojo), 0 0 20px var(--rojo), 0 0 40px var(--rojo);
        transition-delay: 0.2s;
    }

    .registrar {
        position: relative;
        display: inline-block;
        padding: 1rem;
        padding-top: 1.4rem;
        color: var(--claro);
        font-size: 1.8rem;
        text-decoration: none;
        transition: 0.2s;
        border-radius: 1rem;
    }

    .registrar:hover {
        background: var(--rojo);
        box-shadow: 0 0 10px var(--rojo), 0 0 20px var(--rojo), 0 0 40px var(--rojo);
        transition-delay: 0.2s;
    }

    .img-chef {
        height: 60px;
        position: relative;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-top: -7rem;
    }
}