.receta {
  display: flex;
  justify-content: space-between;
  background-color: var(--claro);
  box-shadow: rgb(83, 83, 83);

  width: 100%;
  max-width: 50rem;
  border-radius: 2rem;
  border: none;

  padding: 2rem;
  margin: 1rem;

  figure {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 12rem;
    height: 12em;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 0 8px rgb(15, 15, 15);
    overflow: hidden;

    margin-right: 1rem;

    img {
      height: 100%;
    }
  }

  article {
    width: 70%;

    h3 {
      font-weight: bolder;
      font-size: 1.8rem;
      color: var(--oscuro);

      margin-bottom: 1rem;
    }

    p {
      font-size: 1.6rem;
      color: var(--oscuro);
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      list-style: none;

      li {
        color: var(--claro);
        font-size: 1.4rem;
        font-weight: bold;
        background-color: var(--verde);
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;
      }
    }
  }
}