main{
  background-color: var(--azul);
  display: flex;
}
.section_Texto {
  background-color: var(--azul);
  width: 100%;
  height: 100%;
  padding: 1%;
}
.col-md-2 {
  margin-left: 5rem;
}
.texto_Profesion{
  font-family: "caladea";
  color: var(--claro);
  font-size: 1rem;
  margin-left: 1rem;
  padding: 1rem;
}
.nombre_Programador{
  font-family: "barlow";
  color: var(--oscuro);
  font-size: 2rem;
  margin-left: 1rem;
  padding: 1rem;
}
.descripcion_Perfil {
  font-family: "barlow";
  color: var(--oscuro);
  font-size: 1rem;
  margin-left: 1rem;
  padding: 1rem;
}
.btn_Linkedin {
  background-color: var(--claro);
  border: none;
  width: 8rem;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 8rem;
  margin-left: 1rem;
  color: var(--oscuro);
  font-family: "caladea";
}
.btn_Linkedin:hover{
  background: var(--claro);
  box-shadow: 0 0 10px var(--azulClaro), 0 0 10px var(--azul), 0 0 10px var(--rojo);
  transition: 0.2s;
}
.btn_GitHub {
  background-color: var(--claro);
  border: none;
  width: 8rem;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 8rem;
  margin-right: 1rem;
  color: var(--oscuro);
  font-family: "caladea";
}
.btn_GitHub:hover{
  background: var(--claro);
  box-shadow: 0 0 10px var(--azulClaro), 0 0 10px var(--azul), 0 0 10px var(--rojo);
  transition: 0.2s;
}
.img_Foto {
  width: 50%;
  border-radius: 3rem;
  box-shadow: 0 0 10px 5px rgba(75, 76, 76, 0.5);
  margin-right: 3rem;
}
.texto_RowDer {
  margin-right: 5rem;
}