.titulo_profesion{
  color: var(--claro);
  font-family: "caladea";
  display: flex;
  margin-top: 15rem;
  font-size: 2rem;
}

.nombre_programador{
  color: var(--azul);
  font-family: "barlow";
  font-size: 5rem;
}
.img_linea{
  margin-left: -2rem;
  width: 100%;
}
.button-style{
  width:50%
}
.descripcion{
  color: var(--claro);
  font-family: "caladea";
  font-size: 1.6rem;
}

.img_jeison{
  display: flex;
  width: 90%;
  margin-left: 2rem;
  margin-top: 5rem;
}

.img_adriana{
  display: flex;
  width: 90%;
  margin-left: 2rem;
  margin-top: 5rem;
}

.img_wendy{
  display: flex;
  width: 90%;
  margin-left: 2rem;
  margin-top: 5rem;
}

.img_eleiza{
  display: flex;
  width: 90%;
  margin-left: 2rem;
  margin-top: 5rem;
}

.btn_portafolio{
  background-color: var(--claro);
  border: none;
  border-radius: 3rem;
  width: 100%; 
  font-size: 2rem;
}

.btn_portafolio_adriana{
  background-color: var(--claro);
  border: none;
  border-radius: 3rem;
  width: 50rem; 
  margin-top: -233rem;
}

.btn_portafolio_wendy{
  background-color: var(--claro);
  border: none;
  border-radius: 3rem;
  width: 50rem; 
  margin-top: -140rem;
}

.btn_portafolio_eleiza{
  background-color: var(--claro);
  border: none;
  border-radius: 3rem;
  width: 50rem;
  margin-top: -52rem;
}

.informacion{
  margin-top: 2rem;
}

.ion-icon{
  color: var(--azul);
}
// Responsive
.contenedor_completo{
  background-color: var(--oscuro);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.container_uno{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.container_tres{
  display: flex;
  width: 100%;
  flex-direction: column;
}