.main_inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  max-width: 120rem;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0);

  margin-top: 5rem;

  .fondo_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.425);

    width: 100%;
    min-height: 30rem;

    h1 {
      letter-spacing: 2px;
      color: var(--claro);
      font-size: 4rem;
      font-weight: bolder;
    }
  }

  .buscador {
    position: relative;
    top: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        font-size: 1.6rem;
        width: 29rem;
        border-radius: 2rem;
        border: 1px solid grey;
        box-shadow: none;
        padding: 1rem;
        padding-right: 5rem;
      }

      input:hover {
        box-shadow: 0 0 0.7rem var(--rojo);
        transition: 0.2s;
      }

      button {
        position: absolute;
        right: 1rem;
        display: flex;
        align-self: center;
        justify-content: center;

        font-size: 2.6rem;
        color: grey;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        margin: 0;
      }
    }
  }

  .categorias {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: var(--oscuro);
    padding-top: 5rem;

    figure {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      font-size: 2rem;
      font-weight: bold;
      color: var(--verde);

      figcaption {
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }
    }

    article {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .ingredients {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        list-style: none;

        button {
          background-color: var(--rojo);
          color: var(--claro);
          border-radius: 2rem;
          border: none;

          font-size: 1.6rem;
          padding: 1rem;
          margin: 1rem;

          transition: 0.2s;
        }

        button:hover {
          cursor: pointer;
          box-shadow: 0 0 0.7rem var(--rojo);
          transition: 0.2s;
        }
      }
    }
  }

  .recetas {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    background-color: var(--claro);
    padding: 2rem;

    .container_receta {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: 800px) {

  .main_inicio .recetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--claro);
    padding: 2rem;


  }


}