.container-table {
    width: 70%;
    font-size: medium;
    margin-top: 10rem;
    padding: 1%;

  }
  .main-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .button-table{
    width: 100%;
    font-size: medium;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  