@import url("./vars.scss");
@font-face {
  font-family: 'Barlow';
  src: url('../assets/font/BarlowCondensed-Bold.ttf');
}

@font-face {
  font-family: 'Caladea';
  src: url('../assets/font/Caladea-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  min-height: 100vh;

  padding-top: 7rem;
}

h1 {
  color: var(--rojo);
  font-size: 3rem;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--oscuro);
  border-radius: 5px;
  height: 70%;
}
